#2f1c45/* 共通部分 */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
    color: #061138;
}

h1,h2,h3 {
    font-family: gotham, sans-serif;
}

a {
    color: #c56aa4;
    text-decoration: underline;
    text-underline-offset: 1px;
    transition: 0.3s all ease;
}

.btn {
     display: flex;
    align-items: center;
    width: fit-content;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #061138;
    color: #061138;
    text-decoration: none;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s all ease;
}

.btn img {
    margin-left: 3px;
    filter: brightness(0) invert(1);
    transition: 0.3s all ease;
}

p {
    line-height: 1.5;
    letter-spacing: 0.05rem;
    font-size: 15px;
}

hr {
    color: #707070;
}

::selection {
  background-color: #061138;
  color: #f8fdf4; 
}

.sect {
    margin: 25px 0;
}

.sect-title {
    position: relative;
    width: 100%;
    font-size: 55px;
    color: #061138;
    padding: 0;
    font-family: "gotham", sans-serif;
    font-weight: 800;
    font-style: normal;
    line-height: 1;
}
.sect-title::after {
content: "";
position: absolute;
    top: 50%;
    right: 0px;
    width: 100%;
    height: 0.5px;
    background-color: #061138;
    transform: translateY(-50%);
    z-index: -1;
}

.sect-title span {
    display: inline-block;
    background-color: #f8fdf4;
    padding: 0 30px 0 0;
}


.sect-title__sub {
    display: inline-block;
    font-size: 15px;
    color: #061138;
    font-weight: normal;
    transform: translateY(-1px);
}

.container {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.profile-container {
    padding: 0 30px;
    max-width: 83%;
    overflow: hidden;
    border-right: 1px solid #061138;
    border-left: 1px solid #061138;
}

.back-top__sp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: #f8fdf4;
    border: 1px solid #061138;
    z-index: 2;
}
.back-top__sp img {
    transform: translateY(1px);
}

@media(hover: hover) {
    .btn:hover {
        color: #fff;
        border: 1px solid #061138;
        background-color: #061138;
        opacity: 1;
    }
    .btn:hover img {
        filter: none;
    }
}

@media screen and (max-width: 768px) {
    .sect {
        margin: 15px 0;
    }
    .sect-title {
        font-size: 38px;
    }
    .sect-title__sub {
        font-size: 14px;
    }

    .profile-container {
        padding: 0 10px;
        max-width: calc(100% - 10px);
    }
    .profile-info-container {
        flex-direction: column;
        align-items: center;
    }
    p {
        font-size: 14px;
        letter-spacing: 0.04rem;
    }
}

/* .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.noise {
    background: url("../img/noise.png");
    animation: tvNoise 1s steps(10) infinite;
    opacity: .8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
} */


/* ヘッダー */
header {
    width: 100%;
    gap: 10px;
    padding: 15px 10px;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid #061138;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    color: #f8fdf4;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
}
.header-logo {
    max-width: 225px;
filter: brightness(0) saturate(100%) invert(13%) sepia(12%) saturate(3122%) hue-rotate(185deg) brightness(89%) contrast(111%);}
.header-menu {
    display: flex;
    align-items: center;
}

.header-menu__list {
    color: #061138;
    font-size: 18px;
    padding: 5px 10px;
    text-decoration: none;
    transition: 0.3s all ease;
    font-weight: bold; 
}

.header-menu__list.last {
    color: #061138;
    text-decoration: underline;
    font-size: 14px;
    font-weight: normal;
}

.header-menu__list.last img {
    vertical-align: middle;
    width: 14px;
    margin-right: 3px;
    filter: brightness(0) saturate(100%) invert(13%) sepia(12%) saturate(3122%) hue-rotate(185deg) brightness(89%) contrast(111%);
}

.menu-icon {
   position: relative;
}

.bar {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background-color: #061138;
    transition: all ease .3s;
}

.bar.bar2 {
    top: -6px;
}

.bar.bar3 {
    top: 6px;
}

.menu-icon.is-active .bar {
  background-color: #f8fdf4;
}

.menu-icon.is-active .bar2 {
  opacity: 0;
}

.menu-icon.is-active .bar {
  top: 50%;
}

.menu-icon.is-active .bar:first-child {
  transform: translateY(-50%) rotate(135deg);
}

.menu-icon.is-active .bar3 {
  transform: translateY(-50%) rotate(-135deg);
}


.sp-menu {
    background-color: #061138;
    margin-top: 45px;
    padding: 50px 15px;    
    z-index: 3;
    height: 100dvh;
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .3s ease;
}

.sp-menu.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: .3s ease;
}

.sp-menu_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 25px;
    font-family: "gotham", sans-serif;
}

.sp-menu_list--link {
    color: #f8fdf4;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}

.sp-menu_list--link span {
    font-weight: normal;
    font-size: 14px;
    margin-left: 3px;
}

.sp-menu_list--link.mail {
    font-size: 14px;
    font-weight: normal;
    text-decoration: underline;
}

.sp-menu_list--link.mail img {
    vertical-align: middle;
    width: 14px;
    margin-right: 3px;
    filter: brightness(0) invert(1);
}


@media screen and (min-width: 769px) {
    .menu-icon {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .header-menu {
        display: none;
    }
}


/* 作品一覧 */
.works-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 15px 0 25px;
}

/* .works-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../img/WORKS.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 928.72px;
    height: 171.08px;
    z-index: -1;
} */


.work-name-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-top: 4px;
}

.works-link {
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #061138;
    aspect-ratio: 4 / 3;
}

.works-link::after {
    content: "";
    width: 100%;
    height: 25%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(12 13 13 / 20%) 100%);
}

.works-img {
    width: 100%;
    object-fit: cover;
}

.works-label {
    font-size: 10px;
    border: 1px solid #919191;
    padding: 1px 7px 2px;
    margin-left: 4px;
    color: #919191;
    border-radius: 100px;
}
.works-name {
    display: block;
    font-size: 15px;
    color: #061138;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .works-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        margin: 15px 0;
    }
    .works-name {
        font-size: 14px;
    }
}

.comment-slider-wrap {
    width: 100vw;
    margin: 0 calc(50% - 50vw) 15px;
    background-color:#061138;
    padding: 4px 0;
}

.comment-slider {
  display: flex;
  width: max-content;
  animation: slide 45s linear infinite;
  animation-direction: reverse;
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment-slider li {
  white-space: nowrap;
  padding: 0 20px;
  font-size: 14px;
  color: #f8fdf4
}

/* アニメーション */
@keyframes slide {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
    .comment-slider li {
        white-space: nowrap;
        padding: 0 20px;
        font-size: 12px;
        color: #f8fdf4
    }

}



/* プロフィール */
.slider-wrap {
  width: 100%;
  overflow: hidden;
}

.profile-info-container {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.profile-img {
    max-width: 205px;
    flex-shrink: 0;
}

.profile-text-small {
    font-size: 14px;
}

.profile-logo {
    margin: 5px 0 10px;
    filter: brightness(0) saturate(100%) invert(13%) sepia(12%) saturate(3122%) hue-rotate(185deg) brightness(89%) contrast(111%);
}

.profile-slider-wrap {
    overflow: hidden;
    margin-bottom: 20px;
}

.profile-skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
    margin-top: 15px;
}

.profile-skills li {
    color: #061138;
    border: 1px solid #061138;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 100px;
}

.profile-slider {
  display: flex;
  gap: 5px;
  width: max-content;
  animation: slide 40s linear infinite;
}

.profile-slider img {
  width: 300px;
  height: auto;
  display: block;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 768px) {
    .profile {
        margin: 10px 0;
    }
    .profile-header {
        flex-direction: column;
        gap: 5px;
    }
    .header-logo {
        max-width: 195px;
    }
    .profile-body {
        flex-direction: column;
    }
    .profile-text-small {
        font-size: 13px;
        margin-bottom: 3px;
    }
    .profile-img {
        max-width: 180px;
        flex-shrink: 0;
    }

    .profile-logo {
        max-width: 250px;
        margin: 5px 0 15px;
    }
    .profile-slider img {
        width: 200px;
    }
}

/* フッター */
footer {
    position: relative;
    padding: 8px;
    text-align: center;
    background-color: #061138;
}

footer small {
    display: block;
    color: #f8fdf4;
    text-align: center;
    font-size: 12px;
}

footer img {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.text-indent {
    padding-left: 0.5em;
}

/* 作品詳細 */
.work-container {
    display: flex;
    align-items: flex-start;
}

.work-info {
    flex: 1 1 35%;
    height: 100vh;
    border-left: 1px solid #061138;
    border-bottom: 1px solid #061138;
    position: sticky;
    top: 51px;
}

.work-info hr {
    margin: 0 25px;
}

.work-img {
    flex: 1 1 65%;
    padding: 25px;
    background-color: #e2e3e7;
    border-left: 1px solid #061138;
    border-right: 1px solid #061138;
}

.work-img img {
    width: 100%;
    max-width: 100%;
    box-shadow: 4px 4px 5px #00000030;;
}

.bread {
    display: flex;
    padding: 20px 35px;
    border-bottom: 1px solid #061138;
    font-size: 12px;
}

.bread li {
    padding: 0 3px;
}

.bread-gray {
    color: #707070;
}

.work-explain {
    padding: 25px 35px;
}

.work-explain__work {
    max-width: 330px;
    margin-bottom: 25px;
}

.work-works-typo__container .works-typo {
    margin-bottom: 25px;
}

.works-typo {
    display: block;
    max-width: 340px;
    width: 100%;
}

.work-explain__title {
    font-size: 18px;
    letter-spacing: 0.03rem;
    display: inline-block;
    background-color: #061138;
    color: #f8fdf4;
    padding: 5px 10px;
    font-weight: bold;
    margin-bottom: 15px;
}

.work-explain__text {
    letter-spacing: 0;
    font-size: 14px;
}

dt,dd {
    display: inline-block;
    font-size: 14px;
    padding: 4px 0;
}

dt {
    width: 15%;
}

dd {
    width: 80%;
}

.work-back {
    padding: 50px 25px;
    text-align: center;
}

.work-back .btn {
    margin: 0 auto;
}

.work-mock img {
    width: 100%;
}

.work-subexplain {
    padding: 25px 35px;
    font-size: 14px;
}

.work-subexplain table {
    width: 100%;
}

.work-subexplain table th {
    padding: 3px 0;
    width: 20%;
    line-height: 1.5;
}

.work-subexplain table td {
    padding: 3px 0;
    width: 80%;
    line-height: 1.5;    
}

@media (hover: hover) {
    a:hover {
        opacity: 0.6;      
    }
    
}
@media screen and (max-width: 768px) {
    .work-container {
        flex-direction: column;
    }
    .container.work-container {
        padding: 0;
    }
    .work-info {
        position: inherit;
        width: 100%;
    }
    .bread {
        padding: 12px 10px;
    }
    .work-works-typo__container .works-typo {
        margin-bottom: 15px;
    }
    .works-typo {
        max-width: 210px;
    }
    .work-explain__title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .work-explain {
        padding: 15px 10px;
    }
    .work-subexplain {
        padding: 15px 10px;
        font-size: 13px;        
    }
    .work-info hr {
        margin: 0 10px;
    }
    .work-mock {
        padding: 15px 10px;
    }
    .work-img {
        padding: 15px 10px;
    }
    .work-back {
        display: none;
    }
}


.note-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 20px 0;
}


.note-item_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #061138;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.3s all ease;
}

.note-item_link--info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.note-item_link--info_number {
    background-color: #061138;
    border: 100px;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.note-item_link--info_thumb {
    width: 90px;
    height: 90px;
    border: 1px solid #919191;
    flex-shrink: 0;
}

.note-item_link--info_date {
    font-size: 12px;
    color: #919191;
}

.note-item_link--label {
    padding: 6px 12px;
    color: #919191;
    border: 1px solid #919191;
    border-radius: 100px;
    line-height: 1;
    font-size: 13px;
    flex-shrink: 0;
}
@media (hover: hover) {
    .note-item_link:hover {
        background-color: #061138;
        opacity: 1;
    }

    .note-item_link:hover .note-item_link--info_number {
        background-color: #f8fdf4;
        color: #061138;
    }

    .note-item_link:hover .note-item_link--info_title {
        color: #f8fdf4;
    }

}
@media screen and (max-width: 768px) {
    .note-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 15px 0;
    }
    .note-item_link {
        padding: 5px 0;
    }
    .note-item_link--info_thumb {
        width: 80px;
        height: 80px;
    }
    .note-item_link--info {
        gap: 10px;
    }
    .note-item_link--info_number {
        width: 21px;
        height: 21px;
        font-size: 12px;
    }
    .note-item_link--label {
        font-size: 12px;
        padding: 4px 8px;
    }
 }

.note-detail-container {
    min-height: 100dvh;
    max-width: 700px;
    margin: 0 auto 50px;
}

.note-detail_date {
    font-size: 14px;
    color: #919191;
    margin-bottom: 8px;
    display: block;
}

.note-detail_title--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 40px;
}

.note-detail_title {
    font-size: 22px;
    font-weight: bold;
}

.note-detail-container p {
    margin: 30px 0;
    line-height: 1.6rem;
    letter-spacing: 0.04rem;
    color: #4b3448;
}

.note-detail_img--container {
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
}

.note-detail_img--container img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .note-detail_title {
        font-size: 18px;
    }

    .note-detail_title--container {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15px;
    }
    .note-detail_img--container {
        max-width: 350px;
    }
    .note-detail-container p {
        margin: 10px 0;
    }
    .note-detail_date {
        font-size: 12px;
        margin-bottom: 10px;
    }
}

.m0 {
    margin: 0 !important;
}
.p0 {
    padding: 0 !important;
}
.bold {
    font-weight: bold;
}
.font-normal {
    font-weight: normal;
}

@media screen and (min-width: 769px) {
    .pc-none {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .sp-none {
            display: none;
    }
}
