/* タイポ */
.h-title_margin {
    margin-bottom: 20px;
}

.h-title {
    font-size: 18px;
    position: relative;
    padding-left: 17px;
    font-family: momochidori-variable, sans-serif;
    font-variation-settings: "ital" 0, "wdth" 150, "wght" 800;
}

.h-title_decoration {
    position: relative;
}

.h-title_decoration::before {
    content: "";
    background: url("../img/h-title_before.svg") no-repeat;
    position: absolute;
    top: calc(50% + 1px);
    left: -7px;
    width: 9px;
    height: 12px;
    transform: translate(-100%,-50%);
    background-size: contain;
}

.h-title_decoration::after {
    content: "";
    position: absolute;
    top: 0; right: 0;
    transform: translateY(-100%);
    background: url("../img/h-title_after.gif") no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
}

@media (max-width:768px) {
    .h-title_margin {
        margin-bottom: 15px;
    }
    .h-title {
        font-size: 16px;
    }
    .h-title_decoration::before {
        width: 7px;
        height: 10px;
    }
}


/* フォント調整クラス */
.bold { font-weight: bold;}
.normal { font-weight: normal;}

@font-face {
  font-family: "PKMN";
  src: url("../fonts/pkmn_s.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.eng-font {
  font-family: "PKMN", sans-serif;
}


/* 色 */
.yellow {color: #e49801;}
.lightblue {color: #00bac7;}
.blue {color: #004ef5;}
.gray {color: #9D9D9D;}


.bg-yellow {background-color: #e49801;}
.bg-lightblue {background-color: #00bac7;}
.bg-blue {background-color: #004ef5;}
.bg-gray {background-color: #9D9D9D;}




/* レイアウト調整クラス */
.is-flex {
    display: flex;
} 
.align-center {
    align-items: center;
}
.gap10 {
    gap: 10px;
}
.flex-end {
    justify-content: flex-end;
}

.center {
    text-align: center;
    margin: 0 auto;
}
.text-right {
    text-align: right;
}


/* 余白調整クラス */
.m0 { margin: 0 !important;}
.p0 { padding: 0 !important;}
.pl0 { padding-left: 0 !important;}
@media screen and (min-width: 769px) {
    .pc-none { display: none;}
}

@media screen and (max-width: 768px) {
    .sp-none { display: none;}
}
